div {
    
}

canvas {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-style: preserve-3d;
    perspective: 1000px;
}

.canvas0 {
    /* animation: animeTriangle 3s linear 0s infinite; */
}
.canvas1 {
    animation: animeTriangleRotateZ 3s linear .1s infinite;
}
.canvas2 {
    animation: animeTriangleRotateZ 3s linear .2s infinite;
}
.canvas3 {
    animation: animeTriangleRotateZ 3s linear .3s infinite;
}
.canvas4 {
    animation: animeTriangleRotateZ 3s linear .4s infinite;
}
.canvas5 {
    animation: animeTriangleRotateZ 3s linear .5s infinite;
}
.canvas6 {
    animation: animeTriangleRotateZ 3s linear .6s infinite;
}
.canvas7 {
    animation: animeTriangleRotateZ 3s linear .7s infinite;
}
.canvas8 {
    animation: animeTriangleRotateZ 3s linear .8s infinite;
}
.canvas9 {
    animation: animeTriangleRotateZ 3s linear .9s infinite;
}

@keyframes animeTriangleRotateY {
    0% {
        transform: translateX(-50%) translateY(-50%) rotateY(0deg);
    }
    100%{
        transform: translateX(-50%) translateY(-50%) rotateY(360deg);
    }
}
@keyframes animeTriangleRotateZ {
    0% {
        transform: translateX(-50%) translateY(-50%) rotateY(0deg);
    }
    100%{
        transform: translateX(-50%) translateY(-50%) rotateY(360deg);
    }
}