body {
    margin: 0;

    header {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(0, 33, 82);

        h1 {
            color: rgb(255, 255, 255);
            padding-left: 20px;
        }

        nav {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: rgb(0, 0, 0);
            opacity: 0.5;
            width: 100vw;
            height: 100vh;
            transform: translateX(100%);
            transition: transform ease-out 0.4s;

            li {
                width: 100%;
                list-style: none;
                text-align: center;

                a {
                    display: inline-block;
                    height: 60px;
                    line-height: 60px;
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 30px;
                    color: rgb(255, 255, 255);
                }

                &:nth-of-type(1) {
                    margin-top: 120px;
                }

                &:hover {
                    background-color: rgb(255, 255, 255);
                }

                &:hover > a{
                    color: rgb(0, 7, 71);
                }
            }
        }

        input[type="checkbox"]{
            display: none;
        }
        input[type="checkbox"]:checked + nav + label span {
            opacity: 0;
        }
        input[type="checkbox"]:checked + nav + label::before {
            transform: translateY(8px) rotate(45deg);
        }
        input[type="checkbox"]:checked + nav + label::after {
            transform: translateY(-8px) rotate(-45deg);
        }
        input[type="checkbox"]:checked + nav {
            transform: translateY(-8px)
        }
        label{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5px;
            width: 80px;
            height: 80px;
            margin-right: 20px;
            z-index: 1;

            span{
                display: block;
                width: 30px;
                height: 3px;
                background-color: rgb(255, 255, 255);
                transition: opacity linear 0.4s;
            }

            &::after {
                content: "";
                display: block;
                width: 30px;
                height: 3px;
                background-color: rgb(255, 255, 255);
                transition: transform linear 0.4s;
            }

            &::before {
                content: "";
                display: block;
                width: 30px;
                height: 3px;
                background-color: rgb(255, 255, 255);
                transition: transform linear 0.4s;
            }
        }
    }
}