body {
    margin: 50px 0 0 50px;
    input[type="text"] {
        margin: 0 15px 0 20px;
        width: 100%;
        max-width: 400px;
        height: 30px;

    }
    .addBtn, .delBtnAll {
        width: 50px;
        height: 40px;
    }
    .delBtnAll {
        width: 100px;
    }

    ul {
        .task {
            display: flex;
            align-items: center;
            width: 65%;
            height: 45px;
            max-width: 500px;
            list-style: none;
            justify-content: space-between;

            label {
                display: flex;
                width: 100%;

                p {
                    display: inline-block;
                    margin-left: 20px;
                    user-select: none;
                }
                input[type="checkbox"]:checked + p {
                    text-decoration: line-through;
                    opacity: .6;
                }
            }
            .btnWraper {
                display: grid;

                .delBtn {
                    grid-area: 1/1;
                    width: 35px;
                    height: 35px;
                    font-size: 20px;
                    font-weight: bold;
                    border: none;
                    border-radius: 10px;
                    color: rgb(255, 255, 255);
                    background-color: rgb(255,0,0);
                    user-select: none;
                    display: none;
                }
                .dummyBtn {
                    grid-area: 1/1;
                    width: 35px;
                    height: 35px;
                    font-size: 20px;
                    font-weight: bold;
                    border: 1px solid black;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, 0);
                    user-select: none;
                }
            }
        }
    }


}